:root {
	--color-primary: hsl(189, 5, 15%);
	--color-secondary: hsl(0, 0, 20%);
	--text-shadow-color: hsl(0, 0, 0% / 25%);
}

* {
	/* font-family: "Poppins", sans-serif; */
}

header {
	background-image: url(assets/bg-fluid6.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.navbar button span,
.logo-custom {
	font-family: Arial, Helvetica, sans-serif;
}

.menu {
	font-weight: 100;
	/* color: var(--color-primary); */
	color: rgb(223, 223, 223);
	font-size: 18px;
}

.navbar button {
	color: rgb(24, 24, 24);
}

/* .hero-img-pos {
	position: absolute;
	top: 12%;
	left: 8px;
} */

/* .hero-img-size {
	width: auto;
	height: 70%;
} */

.hero-img-txt {
	padding-bottom: 0 !important;
}

.logo-custom {
	font-size: 1.3rem;
	font-weight: 500;
	letter-spacing: -1px;
	/* color: rgb(39, 39, 39); */
	/* color: rgb(44, 44, 44); */
	color: rgb(223, 223, 223);
	padding: 5px 10px;
}

.hi-there {
	color: var(--color-primary);
	/* color: white; */
	/* margin-top: -40px; */
	font-size: 3.7rem;
	font-weight: 600;
	letter-spacing: 3px;
}

.position-bt {
	position: absolute;
	bottom: 2%;
	/* color: var(--color-primary); */
	/* color: white; */
	color: rgb(223, 223, 223);
}

.freelance-txt {
	color: var(--color-secondary);
	text-shadow: 1px 4px 4px hsl(0, 0%, 30%);
}

p {
	line-height: 1.2;
}
