:root {
	--color-primary: hsl(189, 5, 15%);
	--color-secondary: hsl(0, 0, 20%);
	--text-shadow-color: hsl(0, 0, 0% / 25%);
}

* {
	font-family: "Poppins", sans-serif;
}

header {
	background-image: url(assets/BackDesk.png);
	background-position: center;
	background-size: cover;
}

.navbar button span,
.logo-custom {
	font-family: Arial, Helvetica, sans-serif;
}

.navbar button {
	color: rgb(24, 24, 24);
}

/* .hero-img-pos {
	position: absolute;
	top: 12%;
	left: 8px;
} */

/* .hero-img-size {
	width: auto;
	height: 70%;
} */

.hero-img-txt {
	padding-bottom: 0 !important;
}

.logo-custom {
	font-size: 1.2rem;
	font-weight: 900;
	color: rgb(39, 39, 39);
	text-decoration: underline;
	padding: 5px 10px;
	border: 2px solid black;
}

.hi-there {
	color: var(--color-primary);
	margin-top: -40px;
	font-size: 3.7rem;
}

.freelance-txt {
	color: var(--color-secondary);
	text-shadow: 1px 4px 4px hsl(0, 0%, 30%);
}
